
body {
font-family: Montserrat;
}

#title {
  background-color: #556B2F;
  color: #000;
}

.container-fluid {
  padding: 3% 15% 18%;
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;

}

h3 {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 23%;
  border-radius: 10%;
  transform: rotate(13deg);
  position: absolute;
  right: 22%
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: #8FBC8F;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #556B2F;
}


/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #8FBC8F;
  color: #fff;
}

.testimonial-image {
  width: 10 %;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
background-color: #8FBC8F;
text-align: center;
padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
#cta {
  background-color: #556B2F;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat-Black"
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}


@media (max-width: 1028px) {

#title {
  text-align: center;
}
.title-image {
  position: static;
  transition: rotate(0);
}
}
